.team-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.team-member {
    display: inline-block;
    margin: 20px;
    width: 45%;
}

h1{
    font-size: 2em;
    margin-bottom: 10px;
}

.team-member h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.member-photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.team-member p {
    font-size: 1em;
    line-height: 1.4;
}